<configuration verbosity="Info">
  <dduetools>
    <builder>
      <components>
        <!-- Create skeleton document -->
        <component type="Microsoft.Ddue.Tools.CopyFromFileComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
          <data file="C:\Program Files (x86)\Sandcastle\\Presentation\VS2010\Transforms\skeleton_conceptual.xml" />
          <copy source="/*" target="/" />
        </component>
        <!-- Copy in comments -->
        <component type="Microsoft.Ddue.Tools.CopyFromIndexComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
          <index name="comments" value="/topic" key="@id">
            <data files="ddueXml\*.xml" />
          </index>
          <copy name="comments" source="/topic" target="/document" />
        </component>
        <!-- Resolve tokens -->
        <component type="Microsoft.Ddue.Tools.SharedContentComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
          <context prefix="ddue" name="http://ddue.schemas.microsoft.com/authoring/2003/5" />
          <content file="HelpFileBuilderTokens.tokens" />
          <replace elements="/*//ddue:token" item="string(.)" />
        </component>
        <!-- Copy in metadata attributes -->
        <component type="Microsoft.Ddue.Tools.CopyFromIndexComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
          <index name="metadata" value="/metadata/topic" key="@id">
            <data files="_ContentMetadata_.xml" />
          </index>
          <copy name="metadata" source="*" target="/document/metadata" />
          <copy name="metadata" key="string('*')" source="*" target="/document/metadata" />
        </component>
        <!-- Resolve code snippets -->
        <!-- Code block component configuration.  This must appear before the TransformComponent. -->
        <component id="Code Block Component" type="SandcastleBuilder.Components.CodeBlockComponent" assembly="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\SandcastleBuilder.Components.dll">
          <basePath value="H:\Projects\Renci\SshNet\Renci.SshNet\Documentation\" />
          <languageFilter value="true" />
          <allowMissingSource value="false" />
          <removeRegionMarkers value="false" />
          <colorizer syntaxFile="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\Colorizer\highlight.xml" styleFile="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\Colorizer\highlight.xsl" copyImageUrl="../icons/CopyCode.gif" language="cs" tabSize="0" numberLines="true" outlining="false" keepSeeTags="false" defaultTitle="true" />
        </component>
        <!-- Transform -->
        <component type="Microsoft.Ddue.Tools.TransformComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
          <transform file="C:\Program Files (x86)\Sandcastle\\Presentation\VS2010\Transforms\main_conceptual.xsl">
            <argument key="metadata" value="true" />
            <argument key="languages">
              <language label="CSharp" name="CSharp" style="cs" />
              <language label="VisualBasic" name="VisualBasic" style="vb" />
              <language label="ManagedCPlusPlus" name="ManagedCPlusPlus" style="cpp" />
            </argument>
          </transform>
        </component>
        <!-- Multi-format output component.  This must wrap the component set unique to each output file format. -->
        <component type="SandcastleBuilder.Components.MultiFormatOutputComponent" assembly="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\SandcastleBuilder.Components.dll" id="Multi-format Output Component">
          <!-- This defines the formats to generate -->
          <build formats="HtmlHelp1, Website" />
          <!-- This defines the set of components for HTML Help 1 files -->
          <helpOutput format="HtmlHelp1">
            <!-- Resolve shared content -->
            <component type="Microsoft.Ddue.Tools.SharedContentComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
              <content file="C:\Program Files (x86)\Sandcastle\\Presentation\VS2010\Content\shared_content.xml" />
              <content file="C:\Program Files (x86)\Sandcastle\\Presentation\VS2010\Content\feedBack_content.xml" />
              <content file="C:\Program Files (x86)\Sandcastle\\Presentation\VS2010\Content\conceptual_content.xml" />
              <!-- These must be last in order to override other elements! -->
              <content file="SharedBuilderContent.xml" />
              <content file="PresentationStyleBuilderContent.xml" />
            </component>
            <!-- Resolve art links -->
            <component type="Microsoft.Ddue.Tools.ResolveArtLinksComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
              <targets input="Media" baseOutput=".\Output\HtmlHelp1" outputPath="string('media')" link="../media" map="_MediaContent_.xml" />
            </component>
            <!-- Resolve conceptual links -->
            <component type="Microsoft.Ddue.Tools.ResolveConceptualLinksComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll" showBrokenLinkText="true">
              <targets base="xmlComp" type="Local" />
            </component>
            <!-- Resolve reference links -->
            <component id="Cached MSDN URL References" type="SandcastleBuilder.Components.CachedResolveReferenceLinksComponent" assembly="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\SandcastleBuilder.Components.dll" locale="en-us" linkTarget="_blank">
              <cache filename="C:\Users\oleg\AppData\Local\EWSoftware\Sandcastle Help File Builder\Cache\MsdnUrl.cache" />
              <targets base="C:\Program Files (x86)\Sandcastle\Data\Reflection" recurse="true" files="*.xml" type="msdn" />
              <targets files="reflection.xml" type="Local" />
            </component>
            <!-- Conditionally apply Microsoft Help Viewer branding -->
            <component type="Microsoft.Ddue.Tools.IfThenComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
              <if condition="contains('vs2010','vs2010') or contains('vs2010','VS2010')" />
              <then>
                <component type="Microsoft.Ddue.Tools.BrandingComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
                  <data branding-content="branding" help-output="HtmlHelp1" locale="en-us" catalog-product-id="VS" catalog-version="100" vendor-name="Vendor Name" />
                  <code plain-remove-class="highlight-lineno;highlight-lnborder;highlight-spacerShort;highlight-collapsebox;highlight-collapsed" />
                </component>
              </then>
            </component>
            <!-- Save the result -->
            <component type="Microsoft.Ddue.Tools.SaveComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
              <save base="Output\HtmlHelp1\html" path="concat($key,'.htm')" indent="false" omit-xml-declaration="true" add-xhtml-namespace="false" />
            </component>
          </helpOutput>
          <!-- This defines the set of components for MS Help 2 files -->
          <helpOutput format="MSHelp2">
            <!-- Resolve shared content -->
            <component type="Microsoft.Ddue.Tools.SharedContentComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
              <content file="C:\Program Files (x86)\Sandcastle\\Presentation\VS2010\Content\shared_content.xml" />
              <content file="C:\Program Files (x86)\Sandcastle\\Presentation\VS2010\Content\feedBack_content.xml" />
              <content file="C:\Program Files (x86)\Sandcastle\\Presentation\VS2010\Content\conceptual_content.xml" />
              <!-- These must be last in order to override other elements! -->
              <content file="SharedBuilderContent.xml" />
              <content file="PresentationStyleBuilderContent.xml" />
            </component>
            <!-- Insert additional MS Help 2 attributes -->
            <component type="SandcastleBuilder.Components.MSHelpAttrComponent" assembly="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\SandcastleBuilder.Components.dll" id="MS Help 2 Attributes">
              <attributes>
                <attribute name="DocSet" value="SshNet" />
                <attribute name="DocSet" value="NetFramework" />
                <attribute name="TargetOS" value="Windows" />
              </attributes>
            </component>
            <!-- Resolve art links -->
            <component type="Microsoft.Ddue.Tools.ResolveArtLinksComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
              <targets input="Media" baseOutput=".\Output\MSHelp2" outputPath="string('media')" link="../media" map="_MediaContent_.xml" />
            </component>
            <!-- Resolve conceptual links -->
            <component type="Microsoft.Ddue.Tools.ResolveConceptualLinksComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll" showBrokenLinkText="true">
              <targets base="xmlComp" type="Index" />
            </component>
            <!-- Resolve reference links -->
            <component id="Cached MSDN URL References" type="SandcastleBuilder.Components.CachedResolveReferenceLinksComponent" assembly="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\SandcastleBuilder.Components.dll" locale="en-us" linkTarget="_blank">
              <cache filename="C:\Users\oleg\AppData\Local\EWSoftware\Sandcastle Help File Builder\Cache\MsdnUrl.cache" />
              <targets base="C:\Program Files (x86)\Sandcastle\Data\Reflection" recurse="true" files="*.xml" type="msdn" />
              <targets files="reflection.xml" type="Index" />
            </component>
            <!-- Conditionally apply Microsoft Help Viewer branding -->
            <component type="Microsoft.Ddue.Tools.IfThenComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
              <if condition="contains('vs2010','vs2010') or contains('vs2010','VS2010')" />
              <then>
                <component type="Microsoft.Ddue.Tools.BrandingComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
                  <data branding-content="branding" help-output="MSHelp2" locale="en-us" catalog-product-id="VS" catalog-version="100" vendor-name="Vendor Name" />
                  <code plain-remove-class="highlight-lineno;highlight-lnborder;highlight-spacerShort;highlight-collapsebox;highlight-collapsed" />
                </component>
              </then>
            </component>
            <!-- Save the result -->
            <component type="Microsoft.Ddue.Tools.SaveComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
              <save base="Output\MSHelp2\html" path="concat($key,'.htm')" indent="false" omit-xml-declaration="true" add-xhtml-namespace="false" />
            </component>
          </helpOutput>
          <!-- This defines the set of components for MS Help Viewer files -->
          <helpOutput format="MSHelpViewer">
            <!-- Resolve shared content -->
            <component type="Microsoft.Ddue.Tools.SharedContentComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
              <content file="C:\Program Files (x86)\Sandcastle\\Presentation\VS2010\Content\shared_content_mshc.xml" />
              <content file="C:\Program Files (x86)\Sandcastle\\Presentation\VS2010\Content\feedBack_content.xml" />
              <content file="C:\Program Files (x86)\Sandcastle\\Presentation\VS2010\Content\conceptual_content.xml" />
              <!-- These must be last in order to override other elements! -->
              <content file="SharedBuilderContent.xml" />
              <content file="PresentationStyleBuilderContent.xml" />
            </component>
            <!-- Resolve art links -->
            <component type="Microsoft.Ddue.Tools.ResolveArtLinksComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
              <targets input="Media" baseOutput=".\Output\MSHelpViewer" outputPath="string('media')" link="media" map="_MediaContent_.xml" />
            </component>
            <!-- Resolve conceptual links -->
            <component type="Microsoft.Ddue.Tools.ResolveConceptualLinksComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll" showBrokenLinkText="true">
              <targets base="xmlComp" type="Id" />
            </component>
            <!-- Resolve reference links -->
            <component id="Cached MSDN URL References" type="SandcastleBuilder.Components.CachedResolveReferenceLinksComponent" assembly="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\SandcastleBuilder.Components.dll" locale="en-us" linkTarget="_blank">
              <cache filename="C:\Users\oleg\AppData\Local\EWSoftware\Sandcastle Help File Builder\Cache\MsdnUrl.cache" />
              <targets base="C:\Program Files (x86)\Sandcastle\Data\Reflection" recurse="true" files="*.xml" type="msdn" />
              <targets files="reflection.xml" type="Id" />
            </component>
            <!-- Add Microsoft Help Viewer metadata -->
            <component type="Microsoft.Ddue.Tools.MSHCComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
              <data topic-version="100" toc-file="_ConceptualTOC_.xml" toc-parent="-1" toc-parent-version="100" locale="en-us" />
            </component>
            <!-- Conditionally apply Microsoft Help Viewer branding -->
            <component type="Microsoft.Ddue.Tools.IfThenComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
              <if condition="contains('vs2010','vs2010') or contains('vs2010','VS2010')" />
              <then>
                <component type="Microsoft.Ddue.Tools.BrandingComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
                  <data branding-content="Output\MSHelpViewer_branding" help-output="MSHelpViewer" locale="en-us" catalog-product-id="VS" catalog-version="100" vendor-name="Vendor Name" />
                  <code plain-remove-class="highlight-lineno;highlight-lnborder;highlight-spacerShort;highlight-collapsebox;highlight-collapsed" />
                </component>
              </then>
            </component>
            <!-- Save the result -->
            <component type="Microsoft.Ddue.Tools.SaveComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
              <save base="Output\MSHelpViewer\html" path="concat($key,'.htm')" indent="false" omit-xml-declaration="false" add-xhtml-namespace="true" />
            </component>
          </helpOutput>
          <!-- This defines the set of components for websites -->
          <helpOutput format="Website">
            <!-- Resolve shared content -->
            <component type="Microsoft.Ddue.Tools.SharedContentComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
              <content file="C:\Program Files (x86)\Sandcastle\\Presentation\VS2010\Content\shared_content.xml" />
              <content file="C:\Program Files (x86)\Sandcastle\\Presentation\VS2010\Content\feedBack_content.xml" />
              <content file="C:\Program Files (x86)\Sandcastle\\Presentation\VS2010\Content\conceptual_content.xml" />
              <!-- These must be last in order to override other elements! -->
              <content file="SharedBuilderContent.xml" />
              <content file="PresentationStyleBuilderContent.xml" />
            </component>
            <!-- Resolve art links -->
            <component type="Microsoft.Ddue.Tools.ResolveArtLinksComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
              <targets input="Media" baseOutput=".\Output\Website" outputPath="string('media')" link="../media" map="_MediaContent_.xml" />
            </component>
            <!-- Resolve conceptual links -->
            <component type="Microsoft.Ddue.Tools.ResolveConceptualLinksComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll" showBrokenLinkText="true">
              <targets base="xmlComp" type="Local" />
            </component>
            <!-- Resolve reference links -->
            <component id="Cached MSDN URL References" type="SandcastleBuilder.Components.CachedResolveReferenceLinksComponent" assembly="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\SandcastleBuilder.Components.dll" locale="en-us" linkTarget="_blank">
              <cache filename="C:\Users\oleg\AppData\Local\EWSoftware\Sandcastle Help File Builder\Cache\MsdnUrl.cache" />
              <targets base="C:\Program Files (x86)\Sandcastle\Data\Reflection" recurse="true" files="*.xml" type="msdn" />
              <targets files="reflection.xml" type="Local" />
            </component>
            <!-- Conditionally apply Microsoft Help Viewer branding -->
            <component type="Microsoft.Ddue.Tools.IfThenComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
              <if condition="contains('vs2010','vs2010') or contains('vs2010','VS2010')" />
              <then>
                <component type="Microsoft.Ddue.Tools.BrandingComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
                  <data branding-content="branding" help-output="Website" locale="en-us" catalog-product-id="VS" catalog-version="100" vendor-name="Vendor Name" />
                  <code plain-remove-class="highlight-lineno;highlight-lnborder;highlight-spacerShort;highlight-collapsebox;highlight-collapsed" />
                </component>
              </then>
            </component>
            <!-- Save the result -->
            <component type="Microsoft.Ddue.Tools.SaveComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
              <save base="Output\Website\html" path="concat($key,'.htm')" indent="false" omit-xml-declaration="true" add-xhtml-namespace="false" />
            </component>
          </helpOutput>
        </component>
      </components>
    </builder>
  </dduetools>
</configuration>