<configuration verbosity="Info">
  <dduetools>
    <builder>
      <components>
        <!-- Create skeleton document -->
        <component type="Microsoft.Ddue.Tools.CopyFromFileComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
          <data file="C:\Program Files (x86)\Sandcastle\\Presentation\VS2010\Transforms\skeleton.xml" />
          <copy source="/*" target="/" />
        </component>
        <!-- Copy in reflection data -->
        <component id="Cached Reflection Index Data" type="SandcastleBuilder.Components.CachedCopyFromIndexComponent" assembly="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\SandcastleBuilder.Components.dll">
          <index name="reflection" value="/reflection/apis/api" key="@id" cache="10">
            <cache base="C:\Program Files (x86)\Sandcastle\Data\Reflection" recurse="true" files="*.xml" cacheFile="C:\Users\oleg\AppData\Local\EWSoftware\Sandcastle Help File Builder\Cache\Reflection.cache" />
            <data files="reflection.xml" />
          </index>
          <copy name="reflection" source="*" target="/document/reference" />
        </component>
        <!-- Copy in container data -->
        <component type="Microsoft.Ddue.Tools.CopyFromIndexComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
          <copy name="reflection" key="string(/document/reference/containers/namespace/@api)" source="*[not(local-name()='elements')]" target="/document/reference/containers/namespace" />
        </component>
        <component type="Microsoft.Ddue.Tools.ForEachComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
          <variable expression="/document/reference/containers//type/@api" />
          <components>
            <component type="Microsoft.Ddue.Tools.CopyFromIndexComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
              <copy name="reflection" source="topicdata|apidata|typedata|templates|attributes" target="/document/reference/containers//type[@api=$key]" />
            </component>
          </components>
        </component>
        <!-- Copy in explicitInterfaceImplemented reflection data -->
        <component type="Microsoft.Ddue.Tools.ForEachComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
          <variable expression="/document/reference/implements/member/@api | /document/reference/implements//type/@api" />
          <components>
            <component type="Microsoft.Ddue.Tools.CopyFromIndexComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
              <copy name="reflection" source="apidata" target="/document/reference/implements//*[@api=$key and not(apidata)]" />
              <copy name="reflection" source="templates" target="/document/reference/implements//*[@api=$key and not(apidata) and not(specialization)]" />
            </component>
          </components>
        </component>
        <!-- Copy in extension method template/type data -->
        <component type="Microsoft.Ddue.Tools.ForEachComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
          <variable expression="/document/reference/elements//element[@source='extension']/templates//type/@api" />
          <components>
            <component type="Microsoft.Ddue.Tools.CopyFromIndexComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
              <copy name="reflection" source="apidata" target="/document/reference/elements//element[@source='extension']/templates//type[boolean(@api=$key) and not(apidata)]" />
              <copy name="reflection" source="templates" target="/document/reference/elements//element[@source='extension']/templates//type[boolean(@api=$key) and not(apidata) and not(specialization)]" />
            </component>
          </components>
        </component>
        <!-- Copy in parameter data -->
        <component type="Microsoft.Ddue.Tools.ForEachComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
          <variable expression="/document/reference/parameters/parameter//type/@api" />
          <components>
            <component type="Microsoft.Ddue.Tools.CopyFromIndexComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
              <copy name="reflection" source="apidata" target="/document/reference/parameters/parameter//type[boolean(@api=$key) and not(apidata)]" />
            </component>
          </components>
        </component>
        <!-- Copy in templates type reflection data -->
        <component type="Microsoft.Ddue.Tools.ForEachComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
          <variable expression="/document/reference/templates//type/@api" />
          <components>
            <component type="Microsoft.Ddue.Tools.CopyFromIndexComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
              <copy name="reflection" source="apidata" target="/document/reference/templates//type[@api=$key]" />
              <copy name="reflection" source="templates" target="/document/reference/templates//type[@api=$key and not(specialization)]" />
            </component>
          </components>
        </component>
        <!-- Copy in return type reflection data -->
        <component type="Microsoft.Ddue.Tools.ForEachComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
          <variable expression="/document/reference/returns//type/@api" />
          <components>
            <component type="Microsoft.Ddue.Tools.CopyFromIndexComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
              <copy name="reflection" source="apidata|typedata|family|templates|containers|attributes" target="/document/reference/returns//type[@api=$key]" />
            </component>
          </components>
        </component>
        <!-- Copy in event handler type reflection data -->
        <component type="Microsoft.Ddue.Tools.ForEachComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
          <variable expression="/document/reference/eventhandler/type/@api" />
          <components>
            <component type="Microsoft.Ddue.Tools.CopyFromIndexComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
              <copy name="reflection" source="apidata|typedata|family|templates|containers|attributes" target="/document/reference/eventhandler/type[@api=$key]" />
            </component>
          </components>
        </component>
        <!-- Generate syntax -->
        <component type="Microsoft.Ddue.Tools.IfThenComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
          <if condition="not(starts-with($key,'Overload:') or starts-with($key,'R:'))" />
          <then>
            <component type="Microsoft.Ddue.Tools.SyntaxComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
              <syntax input="/document/reference" output="/document/syntax" />
              <generators>
                <generator type="Microsoft.Ddue.Tools.CSharpDeclarationSyntaxGenerator" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\SyntaxComponents.dll" />
                <generator type="Microsoft.Ddue.Tools.VisualBasicDeclarationSyntaxGenerator" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\SyntaxComponents.dll" />
                <generator type="Microsoft.Ddue.Tools.CPlusPlusDeclarationSyntaxGenerator" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\SyntaxComponents.dll" />
              </generators>
            </component>
          </then>
        </component>
        <!-- Copy in comments -->
        <component id="Cached Framework Comments Index Data" type="SandcastleBuilder.Components.CachedCopyFromIndexComponent" assembly="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\SandcastleBuilder.Components.dll">
          <index name="comments" value="/doc/members/member" key="@name" cache="100">
<cache base="C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETFramework\v4.0" files="*.xml" recurse="false" cacheFile="C:\Users\oleg\AppData\Local\EWSoftware\Sandcastle Help File Builder\Cache\.NETFramework_4.0.30319_F0754620.cache" duplicateWarning="false" />

            <data files="H:\Projects\Renci\SshNet\Renci.SshNet\Documentation\Working\Renci.SshNet.xml" duplicateWarning="false" />

            </index>
          <copy name="comments" source="*" target="/document/comments" />
        </component>
        <!-- Copy in reflection data and comments for members -->
        <component type="Microsoft.Ddue.Tools.ForEachComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
          <variable expression="/document/reference/elements//element/@api" />
          <components>
            <component type="Microsoft.Ddue.Tools.IfThenComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
              <if condition="not(/document/reference/elements//element[@api=$key]/apidata)" />
              <then>
                <component type="Microsoft.Ddue.Tools.CopyFromIndexComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
                  <copy name="reflection" source="*[not(self::elements)]" target="/document/reference/elements//element[@api=$key]" />
                </component>
              </then>
            </component>
            <component type="Microsoft.Ddue.Tools.CopyFromIndexComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
              <copy name="comments" source="summary|overloads" target="/document/reference/elements//element[@api=$key]" />
            </component>
          </components>
        </component>
        <!-- Copy in comments for the member's declaring type. -->
        <component type="Microsoft.Ddue.Tools.CopyFromIndexComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
          <copy name="comments" key="string(/document/reference/containers/type/@api)" source="summary" target="/document/reference/containers" />
        </component>
        <!-- Show missing documentation component configuration.  This must appear before the TransformComponent. -->
        <component type="SandcastleBuilder.Components.ShowMissingComponent" assembly="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\SandcastleBuilder.Components.dll" id="Show Missing Documentation Component">
          <!-- All elements are optional. -->
          <!-- Auto-document constructors (true by default) -->
          <AutoDocumentConstructors value="true" />
          <!-- Auto-document dispose methods (true by default) -->
          <AutoDocumentDisposeMethods value="true" />
          <!-- Show missing param tags (true by default) -->
          <ShowMissingParams value="true" />
          <!-- Show missing typeparam tags (true by default) -->
          <ShowMissingTypeParams value="true" />
          <!-- Show missing remarks tags (false by default) -->
          <ShowMissingRemarks value="false" />
          <!-- Show missing returns tags (true by default) -->
          <ShowMissingReturns value="true" />
          <!-- Show missing summary tags (true by default) -->
          <ShowMissingSummaries value="true" />
          <!-- Show missing value tags (false by default) -->
          <ShowMissingValues value="false" />
          <!-- Show missing namespace comments (true by default) -->
          <ShowMissingNamespaces value="true" />
          <!-- Show missing include targets (true by default) -->
          <ShowMissingIncludeTargets value="false" />
          <!-- Shared content file containing the localized messages (optional) -->
          <contentFile filename="SharedBuilderContent.xml" />
        </component>
        <!-- Code block component configuration.  This must appear before the TransformComponent. -->
        <component id="Code Block Component" type="SandcastleBuilder.Components.CodeBlockComponent" assembly="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\SandcastleBuilder.Components.dll">
          <basePath value="H:\Projects\Renci\SshNet\Renci.SshNet\Documentation\" />
          <languageFilter value="true" />
          <allowMissingSource value="false" />
          <removeRegionMarkers value="false" />
          <colorizer syntaxFile="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\Colorizer\highlight.xml" styleFile="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\Colorizer\highlight.xsl" copyImageUrl="../icons/CopyCode.gif" language="cs" tabSize="0" numberLines="true" outlining="false" keepSeeTags="false" defaultTitle="true" />
        </component>
        <!-- Transform -->
        <component type="Microsoft.Ddue.Tools.TransformComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
          <transform file="C:\Program Files (x86)\Sandcastle\\Presentation\VS2010\Transforms\main_sandcastle.xsl">
            <argument key="metadata" value="true" />
            <argument key="languages">
              <language label="CSharp" name="CSharp" style="cs" />
              <language label="VisualBasic" name="VisualBasic" style="vb" />
              <language label="ManagedCPlusPlus" name="ManagedCPlusPlus" style="cpp" />
            </argument>
          </transform>
        </component>
        <!-- Multi-format output component.  This must wrap the component set unique to each output file format. -->
        <component type="SandcastleBuilder.Components.MultiFormatOutputComponent" assembly="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\SandcastleBuilder.Components.dll" id="Multi-format Output Component">
          <!-- This defines the formats to generate -->
          <build formats="HtmlHelp1, Website" />
          <!-- This defines the set of components for HTML Help 1 files -->
          <helpOutput format="HtmlHelp1">
            <!-- Resolve shared content -->
            <component type="Microsoft.Ddue.Tools.SharedContentComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
              <content file="C:\Program Files (x86)\Sandcastle\\Presentation\VS2010\Content\shared_content.xml" />
              <content file="C:\Program Files (x86)\Sandcastle\\Presentation\VS2010\Content\reference_content.xml" />
              <content file="C:\Program Files (x86)\Sandcastle\\Presentation\VS2010\Content\syntax_content.xml" />
              <content file="C:\Program Files (x86)\Sandcastle\\Presentation\VS2010\Content\feedback_content.xml" />
              <!-- These must be last in order to override other elements! -->
              <content file="SharedBuilderContent.xml" />
              <content file="PresentationStyleBuilderContent.xml" />
            </component>
            <!-- Resolve conceptual links -->
            <component type="Microsoft.Ddue.Tools.ResolveConceptualLinksComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll" showBrokenLinkText="true">
              <targets base="xmlComp" type="Local" />
            </component>
            <!-- Resolve reference links -->
            <component id="Cached MSDN URL References" type="SandcastleBuilder.Components.CachedResolveReferenceLinksComponent" assembly="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\SandcastleBuilder.Components.dll" locale="en-us" linkTarget="_blank">
              <cache filename="C:\Users\oleg\AppData\Local\EWSoftware\Sandcastle Help File Builder\Cache\MsdnUrl.cache" />
              <targets base="C:\Program Files (x86)\Sandcastle\Data\Reflection" recurse="true" files="*.xml" type="msdn" />
              <targets files="reflection.xml" type="Local" />
            </component>
            <!-- Apply Microsoft Help Viewer branding -->
            <component type="Microsoft.Ddue.Tools.BrandingComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
              <data branding-content="branding" help-output="HtmlHelp1" locale="en-us" catalog-product-id="VS" catalog-version="100" vendor-name="Vendor Name" />
              <code plain-remove-class="highlight-lineno;highlight-lnborder;highlight-spacerShort;highlight-collapsebox;highlight-collapsed" />
            </component>
            <!-- Save the result -->
            <component type="Microsoft.Ddue.Tools.SaveComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
              <save base="Output\HtmlHelp1\html" path="concat(/html/head/meta[@name='file']/@content,'.htm')" indent="false" omit-xml-declaration="true" add-xhtml-namespace="false" />
            </component>
          </helpOutput>
          <!-- This defines the set of components for MS Help 2 files -->
          <helpOutput format="MSHelp2">
            <!-- Resolve shared content -->
            <component type="Microsoft.Ddue.Tools.SharedContentComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
              <content file="C:\Program Files (x86)\Sandcastle\\Presentation\VS2010\Content\shared_content.xml" />
              <content file="C:\Program Files (x86)\Sandcastle\\Presentation\VS2010\Content\reference_content.xml" />
              <content file="C:\Program Files (x86)\Sandcastle\\Presentation\VS2010\Content\syntax_content.xml" />
              <content file="C:\Program Files (x86)\Sandcastle\\Presentation\VS2010\Content\feedback_content.xml" />
              <!-- These must be last in order to override other elements! -->
              <content file="SharedBuilderContent.xml" />
              <content file="PresentationStyleBuilderContent.xml" />
            </component>
            <!-- Insert additional MS Help 2 attributes -->
            <component type="SandcastleBuilder.Components.MSHelpAttrComponent" assembly="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\SandcastleBuilder.Components.dll" id="MS Help 2 Attributes">
              <attributes>
                <attribute name="DocSet" value="SshNet" />
                <attribute name="DocSet" value="NetFramework" />
                <attribute name="TargetOS" value="Windows" />
              </attributes>
            </component>
            <!-- Resolve conceptual links -->
            <component type="Microsoft.Ddue.Tools.ResolveConceptualLinksComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll" showBrokenLinkText="true">
              <targets base="xmlComp" type="Index" />
            </component>
            <!-- Resolve reference links -->
            <component id="Cached MSDN URL References" type="SandcastleBuilder.Components.CachedResolveReferenceLinksComponent" assembly="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\SandcastleBuilder.Components.dll" locale="en-us" linkTarget="_blank">
              <cache filename="C:\Users\oleg\AppData\Local\EWSoftware\Sandcastle Help File Builder\Cache\MsdnUrl.cache" />
              <targets base="C:\Program Files (x86)\Sandcastle\Data\Reflection" recurse="true" files="*.xml" type="msdn" />
              <targets files="reflection.xml" type="Index" />
            </component>
            <!-- Apply Microsoft Help Viewer branding -->
            <component type="Microsoft.Ddue.Tools.BrandingComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
              <data branding-content="branding" help-output="MSHelp2" locale="en-us" catalog-product-id="VS" catalog-version="100" vendor-name="Vendor Name" />
              <code plain-remove-class="highlight-lineno;highlight-lnborder;highlight-spacerShort;highlight-collapsebox;highlight-collapsed" />
            </component>
            <!-- Save the result -->
            <component type="Microsoft.Ddue.Tools.SaveComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
              <save base="Output\MSHelp2\html" path="concat(/html/head/meta[@name='file']/@content,'.htm')" indent="false" omit-xml-declaration="true" add-xhtml-namespace="false" />
            </component>
          </helpOutput>
          <!-- This defines the set of components for MS Help Viewer files -->
          <helpOutput format="MSHelpViewer">
            <!-- Resolve shared content -->
            <component type="Microsoft.Ddue.Tools.SharedContentComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
              <content file="C:\Program Files (x86)\Sandcastle\\Presentation\VS2010\Content\shared_content_mshc.xml" />
              <content file="C:\Program Files (x86)\Sandcastle\\Presentation\VS2010\Content\reference_content.xml" />
              <content file="C:\Program Files (x86)\Sandcastle\\Presentation\VS2010\Content\syntax_content.xml" />
              <content file="C:\Program Files (x86)\Sandcastle\\Presentation\VS2010\Content\feedback_content.xml" />
              <!-- These must be last in order to override other elements! -->
              <content file="SharedBuilderContent.xml" />
              <content file="PresentationStyleBuilderContent.xml" />
            </component>
            <!-- Resolve conceptual links -->
            <component type="Microsoft.Ddue.Tools.ResolveConceptualLinksComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll" showBrokenLinkText="true">
              <targets base="xmlComp" type="Id" />
            </component>
            <!-- Resolve reference links -->
            <component id="Cached MSDN URL References" type="SandcastleBuilder.Components.CachedResolveReferenceLinksComponent" assembly="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\SandcastleBuilder.Components.dll" locale="en-us" linkTarget="_blank">
              <cache filename="C:\Users\oleg\AppData\Local\EWSoftware\Sandcastle Help File Builder\Cache\MsdnUrl.cache" />
              <targets base="C:\Program Files (x86)\Sandcastle\Data\Reflection" recurse="true" files="*.xml" type="msdn" />
              <targets files="reflection.xml" type="Id" />
            </component>
            <!-- Add MSHC metadata -->
            <component type="Microsoft.Ddue.Tools.MSHCComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
              <data topic-version="100" toc-file="toc.xml" toc-parent="8e553ec7-3a42-4bd1-9252-b9b3c957b454" toc-parent-version="100" locale="en-us" />
            </component>
            <!-- Apply Microsoft Help Viewer branding -->
            <component type="Microsoft.Ddue.Tools.BrandingComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
              <data branding-content="Output\MSHelpViewer_branding" help-output="MSHelpViewer" locale="en-us" catalog-product-id="VS" catalog-version="100" vendor-name="Vendor Name" />
              <code plain-remove-class="highlight-lineno;highlight-lnborder;highlight-spacerShort;highlight-collapsebox;highlight-collapsed" />
            </component>
            <!-- Save the result -->
            <component type="Microsoft.Ddue.Tools.SaveComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
              <save base="Output\MSHelpViewer\html" path="concat(/html/head/meta[@name='file']/@content,'.htm')" indent="false" omit-xml-declaration="false" add-xhtml-namespace="true" />
            </component>
          </helpOutput>
          <!-- This defines the set of components for websites -->
          <helpOutput format="Website">
            <!-- Resolve shared content -->
            <component type="Microsoft.Ddue.Tools.SharedContentComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
              <content file="C:\Program Files (x86)\Sandcastle\\Presentation\VS2010\Content\shared_content.xml" />
              <content file="C:\Program Files (x86)\Sandcastle\\Presentation\VS2010\Content\reference_content.xml" />
              <content file="C:\Program Files (x86)\Sandcastle\\Presentation\VS2010\Content\syntax_content.xml" />
              <content file="C:\Program Files (x86)\Sandcastle\\Presentation\VS2010\Content\feedback_content.xml" />
              <!-- These must be last in order to override other elements! -->
              <content file="SharedBuilderContent.xml" />
              <content file="PresentationStyleBuilderContent.xml" />
            </component>
            <!-- Resolve conceptual links -->
            <component type="Microsoft.Ddue.Tools.ResolveConceptualLinksComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll" showBrokenLinkText="true">
              <targets base="xmlComp" type="Local" />
            </component>
            <!-- Resolve reference links -->
            <component id="Cached MSDN URL References" type="SandcastleBuilder.Components.CachedResolveReferenceLinksComponent" assembly="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\SandcastleBuilder.Components.dll" locale="en-us" linkTarget="_blank">
              <cache filename="C:\Users\oleg\AppData\Local\EWSoftware\Sandcastle Help File Builder\Cache\MsdnUrl.cache" />
              <targets base="C:\Program Files (x86)\Sandcastle\Data\Reflection" recurse="true" files="*.xml" type="msdn" />
              <targets files="reflection.xml" type="Local" />
            </component>
            <!-- Apply Microsoft Help Viewer branding -->
            <component type="Microsoft.Ddue.Tools.BrandingComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
              <data branding-content="branding" help-output="Website" locale="en-us" catalog-product-id="VS" catalog-version="100" vendor-name="Vendor Name" />
              <code plain-remove-class="highlight-lineno;highlight-lnborder;highlight-spacerShort;highlight-collapsebox;highlight-collapsed" />
            </component>
            <!-- Save the result -->
            <component type="Microsoft.Ddue.Tools.SaveComponent" assembly="C:\Program Files (x86)\Sandcastle\ProductionTools\BuildComponents.dll">
              <save base="Output\Website\html" path="concat(/html/head/meta[@name='file']/@content,'.htm')" indent="false" omit-xml-declaration="true" add-xhtml-namespace="false" />
            </component>
          </helpOutput>
        </component>
      </components>
    </builder>
  </dduetools>
</configuration>